@model SisTransp.Dominio.Entidades.Usuario

@{
    ViewBag.Title = "Editar Usuario";
}

<div class="card">

    <div class="card-header">
        <h4>Editar Usuario</h4>
    </div>

    <div class="card-body">

        @using (Html.BeginForm())
        {
            @Html.HiddenFor(x => x.IdUsuario)

            <div class="row">

                <div class="col-md-6 mb-3">
                    <label>Nombre Completo</label>
                    @Html.TextBoxFor(x => x.NombreCompleto,
                    new { @class = "form-control", required = "required" })
                </div>

                <div class="col-md-6 mb-3">
                    <label>Correo</label>
                    @Html.TextBoxFor(x => x.Correo,
                    new { @class = "form-control", type = "email", required = "required" })
                </div>

                <div class="col-md-6 mb-3">
                    <label>Clave</label>
                    @Html.TextBoxFor(x => x.Clave,
                    new { @class = "form-control", type = "password", required = "required" })
                </div>

                <div class="col-md-6 mb-3">
                    <label>Rol</label>
                    @Html.DropDownListFor(
                        x => x.IdRol,
                        ViewBag.Roles as SelectList,
                        "-- Seleccione rol --",
                        new { @class = "form-control", required = "required" })
                </div>

                <div class="col-md-6 mb-3">
                    <label>Estado</label>
                    @Html.DropDownListFor(
                        x => x.Estado,
                        new SelectList(
                            new[]
                            {
                                new { Value = "true", Text = "Activo" },
                                new { Value = "false", Text = "Inactivo" }
                            },
                            "Value",
                            "Text",
                            Model.Estado.ToString().ToLower()
                        ),
                        new { @class = "form-control" })
                </div>

            </div>

            <button class="btn btn-danger">
                Actualizar Usuario
            </button>

            <a href="/Usuario" class="btn btn-secondary">
                Volver
            </a>
        }

    </div>

</div>