@model SisTransp.Dominio.Entidades.Unidad

@{
    ViewBag.Title = "Nueva Unidad";
}

<div class="container-fluid">

    <div class="card">

        <div class="card-header">

            <h4>Registrar Nueva Unidad</h4>

        </div>

        <div class="card-body">

            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(
                true,
                "",
                new { @class = "text-danger" })

                <div class="row">

                    <div class="col-md-3">

                        <label>Placa</label>

                        @Html.TextBoxFor(
                        x => x.Placa,
                        new { @class = "form-control" })

                        @Html.ValidationMessageFor(
                        x => x.Placa, "",
                        new { @class = "text-danger" })

                    </div>


                    <div class="col-md-3">
                        <label>Marca</label>
                        @Html.DropDownListFor(x => x.Marca,new SelectList(ViewBag.Marcas),"--Seleccione--",
                        new{@class = "form-control"})

                        @Html.ValidationMessageFor(x => x.Marca, "",new { @class = "text-danger" })
                    </div>


                    <div class="col-md-3">
                        <label>Modelo</label>
                        @Html.DropDownListFor(x => x.Modelo,new SelectList(ViewBag.Modelos),"--Seleccione--",
                        new{@class = "form-control"})

                        @Html.ValidationMessageFor(x => x.Modelo, "",new { @class = "text-danger" })
                    </div>


                    <div class="col-md-3">

                        <label>Capacidad Tanque</label>

                        @Html.TextBoxFor(
                        x => x.CapacidadTanque,
                        new { @class = "form-control" })

                        @Html.ValidationMessageFor(
                        x => x.CapacidadTanque, "",
                        new { @class = "text-danger" })

                    </div>

                </div>

                <br />

                <button class="btn btn-danger">

                    Guardar

                </button>

                <a href="/Unidad"
                   class="btn btn-secondary">

                    Volver

                </a>

            }

        </div>

    </div>

</div>

@section Scripts{

    @Scripts.Render(
    "~/bundles/jqueryval")

}